@import '../../styles/variables';

.whyUs {
  background-color: $secondary-blue-light;
  position: relative;
  .anchor {
    position: absolute;
    top: 50%;
    right: 50%;
  }
  &_wrapper {
    &_title {
      margin-bottom: 4.8rem;
    }

    &_list {
      display: flex;
      margin-bottom: 6rem;
      flex-wrap: wrap;

      &_item {
        margin-right: 2.6rem;
        max-width: 21.4rem;
        &_title {
          margin-top: 1.2rem;
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1350px) {
  .whyUs {
    &_wrapper {
      &_list {
        justify-content: space-between;
        &_item {
          max-width: 19rem;
          &_title {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1201px) {
  .whyUs {
    &_wrapper {
      &_list {
        &_item {
          max-width: 18rem;
          &_title {
            margin-top: 1.2rem;
            margin-bottom: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .whyUs {
    &_wrapper {
      &_list {
        justify-content: unset;
        gap: 1.6rem;
        margin-bottom: 7.5rem;
        &_item {
          margin-right: 1.2rem;
        }
      }
    }
  }
}
@media screen and (max-width: 415px) {
  .whyUs {
    &_wrapper {
      &_list {
        margin-bottom: 6rem;

        &_item {
          display: flex;
          width: 100%;
          max-width: unset;
          margin-bottom: 4rem;
          & > svg {
            min-width: 7.4rem;
            margin-right: 1.6rem;
          }
        }
      }
    }
  }
}
