@import '../../styles/variables';

.blog {
  &_mobileLink {
    display: none;
  }
  &_titleWrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.8rem;
  }

  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.4rem;

    &_item0 {
      width: 58.8rem;
      grid-row: span 2;
      border: 1px solid $black10;
      border-radius: 8px;
      overflow: hidden;
      &_imageWrapper {
        height: 31rem;
        margin-bottom: 1.2rem;
        &_img {
          object-fit: cover;
          max-width: 100%;
          height: 100%;
        }
      }
    }

    &_item1,
    &_item2 {
      width: 58.8rem;
      height: 21.2rem;
      display: flex;
      border: 1px solid $black10;
      border-radius: 8px;
      overflow: hidden;
      &_imageWrapper {
        width: 29.4rem;
        height: 100%;
        &_img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &_content {
        width: 29.4rem;
      }
    }
  }
}

.content {
  padding: 1.2rem;
  &_date {
    color: $primary-blue;
    margin-bottom: 1rem;

    &_name {
      &:after {
        content: '';
        display: inline-block;
        border-radius: 50%;
        width: 4px;
        height: 4px;
        background-color: $primary-blue;
        transform: translate(0, -40%);
        margin-left: 0.4rem;
        margin-right: 0.4rem;
      }
    }
  }

  &_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  &_description {
    color: $basic-82black;
  }
}

@media screen and (max-width: 768px) {
  .blog {
    &_mobileLink {
      display: inline-bloc;
    }

    &_grid {
      display: flex;
      flex-direction: column;

      &_item0 {
        width: unset;

        &_imageWrapper {
          width: 100%;
          height: 31rem;

          &_img {
            height: 100%;
          }
        }
      }

      &_item1,
      &_item2 {
        width: unset;
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .blog {
    &_titleWrapper {
      &_btn {
        display: none;
      }
    }

    &_grid {
      display: flex;
      flex-direction: column;

      &_item0 {
        width: unset;

        &_imageWrapper {
          height: 19.8rem;

          &_img {
            height: 100%;
          }
        }
      }

      &_item1,
      &_item2 {
        height: unset;
        flex-direction: column;
        &_imageWrapper {
          height: 19.8rem;
          width: 100%;
          &_img {
            height: 100%;
            width: 100%;
          }
        }
        &_content {
          width: unset;
        }
      }
      margin-bottom: 4.8rem;
    }
    &_mobileLink {
      display: inline-block;
    }
  }
}
