.solution {
  display: flex;
  justify-content: center;
  position: relative;

  .anchor {
    position: absolute;
    top: 40%;
    right: 50%;
  }

  &_title {
    width: 38.4rem;
    position: relative;
    align-self: self-start;
    flex: 1 2;

    &_icon {
      position: absolute;
      bottom: -269%;
      left: -19%;
    }
  }

  &_list {
    flex: 2 1;
    display: flex;
    flex-wrap: wrap;

    &_item {
      width: 50%;
      display: flex;

      &:nth-child(-n + 6) {
        margin-bottom: 5.4rem;
      }

      &_text {
        max-width: 29.4rem;
        margin-left: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .solution {
    flex-direction: column;
    &_title {
      width: unset;
      margin-bottom: 6.4rem;
      &_icon {
        display: none;
      }
    }

    &_list {
      justify-content: space-between;

      &_item {
        width: 49%;

        & > svg {
          min-width: 7.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .solution {
    &:target:before {
      content: '';
      display: block;
      height: 60px; /* fixed header height*/
      margin: -60px 0 0; /* negative fixed header height */
    }
    &_title {
    }
    &_list {
      flex-direction: column;
      &_item {
        width: 100%;
        display: flex;
        &:not(:last-child) {
          margin-bottom: 3.6rem;
        }
        & > svg {
          min-width: 7.4rem;
          max-width: 7.4rem;
          max-height: 7.4rem;
        }
        &:nth-child(-n + 6) {
          margin-bottom: 5.4rem;
        }

        &_text {
          max-width: 29.4rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
