//primary
$primary-blue: #0d3497;
$primary-green: #b3e430;

//secondary
$secondary-blue: #1282ff;
$secondary-green-dark: #86b30f;
$secondary-green-light: #bfff15;
$secondary-green-lighter: #ecffbb;
$secondary-blue-light: #e7f2ff;
$secondary-darker-green: #155000;

//basic
$basic-black: #00031b;
$basic-white: #ffffff;
$basic-82black: rgba(0, 0, 0, 0.82);
$basic-86white: rgba(255, 255, 255, 0.86);
$black10: rgba(0, 0, 0, 0.1);
$basic-blue50: #7d99a9;
