@import '../../styles/variables';
.hide {
  display: none;
}
.faq {
  background-color: $secondary-green-lighter;
  position: relative;

  .parallax {
    position: absolute;
    height: 16rem;
    width: 18rem;
    background-image: url('../../assets/FAQ.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 20%;
    top: 13%;
    z-index: 1;
    transition: 150ms linear all;
  }
  .anchor {
    position: absolute;
    top: 50%;
    right: 50%;
  }

  &_wrapper {
    z-index: 2;
    position: relative;
    &_titleWrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4.8rem;
      position: relative;

      &_title {
        margin-bottom: 2.4rem;
      }

      &_icon {
        position: absolute;
        right: 22%;
        top: -75%;
      }
    }

    &_faqBlock {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
      justify-content: space-between;

      &_faqItem {
        width: 100%;
        height: 100%;
        align-items: stretch;
        align-self: flex-start;
        padding-right: 2rem;
      }
    }
  }
}

@media screen and (max-width: 1333px) {
  .faq {
    &_wrapper {
      &_titleWrap {
        &_title {
          max-width: 46rem;
        }
        &_icon {
          position: absolute;
          right: 10%;
          top: -75%;
          top: -13%;
        }
      }
      &_faqBlock {
        &_faqItem {
          width: 100%;
          max-width: unset;
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .faq {
    .parallax {
      top: 7%;
    }
    &_wrapper {
      &_faqBlock {
        display: flex;
        flex-direction: column;
        gap: unset;

        &_faqItem {
          width: 100%;
          max-width: unset;
          &:not(:last-child) {
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .faq {
    &_wrapper {
      &_titleWrap {
        &_icon {
          max-width: 6.7rem;
          max-height: 6.24rem;
          top: 35%;
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .faq {
    .parallax {
      width: 7.5rem;
      right: 10%;
    }
    &_wrapper {
      &_titleWrap {
        &_icon {
          top: 30%;
        }
      }
      &_faqBlock {
        &_faqItem {
          &:not(:last-child) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
}

.faqW {
  background-color: #fff;
  padding-top: 8rem;
}
