.about {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 100% 10rem;
  position: relative;
  display: flex;
  justify-content: space-between;

  .anchor {
    position: absolute;
    top: 50%;
    right: 50%;
  }

  &_imgWrapper {
    max-width: 49%;
    transition: 250ms linear all;
    position: absolute;
    z-index: -1;
    right: 0;
    top: 8%;
    max-height: 42rem;
    &_img {
      height: 100%;
      object-fit: contain;
    }
  }

  &_content {
    max-width: 47.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.8rem;

    &_title,
    &_description {
      margin-bottom: 2.4rem;
    }
  }

  &_workers {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);

    &_item {
      display: flex;
      flex-direction: column;
      max-width: 10rem;
      align-items: center;

      &_imageWrapper {
        width: 10rem;
        height: 10rem;

        &_img {
          max-width: 100%;
          max-height: 10rem;
          object-fit: contain;
        }
      }

      &_title {
        margin-bottom: 0.5rem;
      }

      &_position {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    background-image: unset;
    padding-bottom: 10rem;

    &_imgWrapper {
      display: block;
      max-height: 43rem;

      padding-top: 5rem;
      &_img {
        object-fit: contain;
        transform: translate(0, -25%);
      }
    }

    &_content {
      max-width: 100%;
    }

    &_workers {
      max-width: 100%;
      justify-content: space-between;
      gap: 1.5rem;

      &_item {
        flex: 2 1 auto;

        &_imageWrapper {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 555px) {
  .about {
    &_imgWrapper {
      display: none;
    }
  }

  @media screen and (max-width: 415px) {
    .about {
      &_imgWrapper {
        max-height: 21.7rem;
        &_img {
          transform: translate(0, -35%);
        }
      }
      &_content {
      }

      &_workers {
        &_item {
          &_imageWrapper {
          }
        }
      }
    }
  }
}
