@import '../styles/variables';
.blogHero {
  .mobilePencil {
    display: none;
  }
  padding-top: 9.6rem;
  background-color: $secondary-blue-light;
  .noPc {
    display: none;
  }
  &_wrapper {
    position: relative;

    &_bg {
      position: absolute;
      right: -2rem;
      transform: translate(0, -10rem);
    }

    &_title {
      margin-bottom: 7.2rem;
    }
  }
}
.post {
  display: flex;
  justify-content: center;
  background: $basic-white;
  border-radius: 0.8rem;
  overflow: hidden;

  &_imgWrapper {
    height: 44.5rem;
    flex-basis: 66.66%;

    &_img {
      height: 44.5rem;
      width: 100%;
      object-fit: fill;
    }
  }
  &_content {
    flex-basis: 33.33%;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;

    &_dateWrapper {
      color: $primary-blue;
      margin-bottom: 1.8rem;

      &_date {
        &:after {
          content: '';
          display: inline-block;
          border-radius: 50%;
          width: 4px;
          height: 4px;
          background-color: $primary-blue;
          transform: translate(0, -55%);
          margin-left: 0.4rem;
          margin-right: 0.4rem;
        }
      }
    }

    &_title {
      margin-bottom: 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_description {
      color: $basic-82black;
    }
  }
}

.postSection {
  display: flex;
  flex-direction: column;
  &_postWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2.4rem;
    margin-bottom: 4.8rem;

    &_item {
      width: calc(100% / 3);

      &.twoItems {
        width: calc((100% - (2.4rem)) / 2);
      }

      &.threeItems {
        width: calc((100% - (2.4rem * 2)) / 3);
        & > .imgWrapper {
          height: 21.8rem;
          & > img {
            height: 100%;
          }
        }
      }
    }
  }

  .paginator {
    display: inline-flex;
    margin: 0 auto;
    flex-basis: auto;
    border: 1px solid $black10;
    border-radius: 8px;

    &_item {
      width: 4rem;
      border-right: 1px solid $black10;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      color: $basic-82black;
    }
    & > li {
      cursor: pointer;
      &:nth-child(2) {
        border-left: 1px solid $black10;
      }
      &:first-child,
      &:last-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
      }
    }

    &_selected {
      background-color: $primary-blue;
      color: $basic-white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .blogHero {
    position: relative;
    .mobilePencil {
      display: block;
      position: absolute;
      right: -8rem;
    }
    &_wrapper {
      &_bg {
        display: none;
      }

      &_title {
      }
    }
    .NoMobile {
      display: none;
    }
    .noPc {
      display: block;
    }
  }
  .post {
    flex-direction: column;
    &_imgWrapper {
      &_img {
        object-fit: cover;
      }
    }
    &_content {
      &_dateWrapper {
        &_date {
          &:after {
          }
        }
      }

      &_title {
      }

      &_description {
      }
    }
  }

  .postSection {
    &_postWrapper {
      flex-direction: column;
      gap: unset;
      margin-bottom: 0;
      &_item {
        width: 100%;
        display: flex;
        max-height: 19.8rem;
        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }
        &.fourthItem {
          max-height: unset;
          flex-direction: column;
          margin-top: 2.4rem;
          margin-bottom: 4.8rem;
          & > .imgWrapper {
            height: 39.8rem;
            & > img {
              max-height: 100%;
            }
          }
        }

        &.threeItems {
          & > .imgWrapper {
            & > img {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .blogHero {
    .mobilePencil {
      max-width: 14rem;
      right: -4.5rem;
      top: 5.5rem;
    }
    &_wrapper {
      &_bg {
        display: none;
      }

      &_title {
      }
    }
    .NoMobile {
      display: none;
    }
    .noPc {
      display: block;
    }
  }
  .post {
    flex-direction: column;

    &_imgWrapper {
      &_img {
        height: 100%;
        object-fit: cover;
      }
    }
    &_content {
      &_dateWrapper {
        &_date {
          &:after {
          }
        }
      }

      &_title {
      }

      &_description {
      }
    }
  }

  .postSection {
    &_postWrapper {
      flex-direction: column;
      gap: unset;
      margin-bottom: 0;
      & > .fourthItem {
        max-height: unset;
        flex-direction: column;
        margin-top: unset;
        &:not(:last-child) {
          margin-bottom: 4.8rem;
        }
        & > .imgWrapper {
          height: unset;
          & > img {
            max-height: 100%;
          }
        }
      }
      &_item {
        &:not(:last-child) {
          margin-bottom: 4.8rem;
        }
        max-height: unset;
        flex-direction: column;
        & > .imgWrapper {
          height: 19.8rem;
        }
      }
    }
  }
}
